---
import "./layout.css";

interface Props {
  backgroundColor?: string;
  textColor?: string;
  class?: string;
}

const {
  backgroundColor = "#FFE6CD",
  textColor = "#005550",
  class: className,
} = Astro.props;

const hasAside = Astro.slots.has("aside");
---

<div
  class:list={["container", className]}
  style={`background-color: ${backgroundColor}; color: ${textColor};`}
>
  <div class="content">
    <div class="layout-wrapper">
      {hasAside ? (
        <aside class="aside">
          <slot name="aside" />
        </aside>
      ) : (
        <aside class="aside aside--empty" />
      )}
      <section class="section">
        <slot />
      </section>
    </div>
  </div>
</div>

<style>
  .content {
    margin: 0 auto;
    max-width: 120rem;
  }

  .layout-wrapper {
    display: flex;
    flex-direction: column;
    padding: 3rem;
  }

  @media screen and (min-width: 720px) {
    .layout-wrapper {
      padding: 6rem;
      flex-direction: row;
    }
  }

  .aside {
    flex: 1 0 40%;
    order: 1;
    display: flex;
    padding: 3rem 0;
  }

  @media screen and (min-width: 720px) {
    .aside {
      order: 0;
      padding: 0 6rem 0 0;
    }
  }

  .aside--empty {
    flex: 1 0 40%;
    order: 1;
    display: flex;
    padding: 0;
  }

  @media screen and (min-width: 720px) {
    .aside--empty {
      order: 0;
    }
  }

  .section {
    max-width: 1280px;
  }

  @media screen and (min-width: 720px) {
    .section {
      flex: 1 1 1280px;
    }
  }
</style>
