---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<section class:list={["section", className]}>
  <slot />
</section>

<style>
  .section {
    max-width: 1280px;
  }

  @media screen and (min-width: 720px) {
    .section {
      flex: 1 1 1280px;
    }
  }
</style>
