---
import ProjectPage from '../../components/clave-old/pages/prosjekter/naf';
---
<html lang="nb">
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/svg+xml" href="/clave-icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NAF | clave</title>
</head>
<ProjectPage client:only="react" />
</html>
