---
import ProjectPage from '../../components/clave-old/pages/prosjekter/naf';
---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NAF | clave</title>
</head>
<ProjectPage client:only="react" />
</html>
