.title-wrapper {
  background-color: #005550;
}

@media screen and (min-width: 720px) {
  .title-wrapper {
    padding-top: 6rem;
  }
}

@media only screen and (max-width: 719px) {
  .title-wrapper {
    padding-top: 4.75rem;
  }
}

.contact-info {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

@media screen and (min-width: 720px) {
  .contact-info {
    gap: 1.5rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 720px) {
  .contact-card {
    flex: 1 1;
    padding: 1rem 0 0;
  }
}

.aside-content-low {
  display: inline-block;
  align-self: flex-end;
}

.address {
  font-style: normal;
  font-size: 1.5rem;
}
