---
import Aside from "./Aside.astro";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  hasAside?: boolean;
}

const { class: className, hasAside = Astro.slots.has("aside"), ...rest } = Astro.props;
---

<div class:list={["layout-wrapper", className]} {...rest}>
  {hasAside ? (
    <Aside>
      <slot name="aside" slot="aside"/>
    </Aside>
  ) : (
    <aside class="aside-empty" />
  )}
  <section class="section">
    <slot />
  </section>
</div>

<style>
  .layout-wrapper {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    padding-bottom: var(--column-padding-bottom, 3rem);
  }

  @media screen and (min-width: 720px) {
    .layout-wrapper {
      padding: 6rem;
      padding-bottom: var(--column-padding-bottom, 6rem);
      flex-direction: row;
    }
  }

  .aside-empty {
    flex: 1 0 40%;
    order: 1;
    display: flex;
  }

  @media screen and (min-width: 720px) {
    .aside-empty {
      order: 0;
    }
  }

  .section {
    max-width: 1280px;
  }

  @media screen and (min-width: 720px) {
    .section {
      flex: 1 1 1280px;
    }
  }
</style>
