---
import { MAX_WIDTH } from '../../layouts';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class:list={["container-content", className]}>
  <slot />
</div>

<style define:vars={{maxWidth: MAX_WIDTH}}>
  .container-content {
    margin: 0 auto;
    max-width: var(--maxWidth);
  }
</style>
