---
import "../../styles/global.css";
import Container from "./Container.astro";
import ContentColumn from "./ContentColumn.astro";
import { COLOR_CLAVE_PEACH, COLOR_CLAVE_GREEN } from "../../colors.js";

interface Props {
  backgroundColor?: string;
  textColor?: string;
  class?: string;
}

const {
  backgroundColor = COLOR_CLAVE_PEACH,
  textColor = COLOR_CLAVE_GREEN,
  class: className,
} = Astro.props;
---

<Container backgroundColor={backgroundColor} textColor={textColor} class={className}>
  <div class="content">
    <ContentColumn>
      <slot name="aside" slot="aside" />
      <slot />
    </ContentColumn>
  </div>
</Container>

<style>
  .content {
    margin: 0 auto;
    max-width: 120rem;
  }
</style>
