---
import { ansatte } from "./ansatte.json";

import "../../styles/global.css";
import EmployeeCard from "./EmployeeCard.astro";
---

<style>
    .this-is-us {
        background-color: var(--clave-peach);
        color: var(--clave-green);
        padding-bottom: 9rem;
    }
    .title {
        display: flex; 
        justify-content: center;
        max-width: var(--max-width);
        padding: 4rem var(--desktop-padding);
        margin: 0 auto;
    }
    .employee-cards {
        display: grid;
        justify-content: center;
        max-width: var(--max-width);
        grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
        gap: 4rem var(--desktop-padding);
        padding: 0 var(--desktop-padding);
        margin: 0 auto;
    }
</style>

<div class="this-is-us">
    <div class="title">
        <h2>Dette er oss</h2>
    </div>
    <div class="employee-cards">
        {ansatte.map(ansatt => <EmployeeCard ansatt={ansatt} />)}
    </div>
</div>


