---
import { COLOR_CLAVE_GREEN, COLOR_CLAVE_PEACH } from '../colors.js';
import Container from '../components/layout/Container.astro';
import Header from '../components/layout/Header.astro';
import Layout from '../components/layout/Layout.astro';
import Footer from '../components/layout/Footer.astro';
import BaseLayout from '../components/layout/BaseLayout.astro';
---

<BaseLayout title="404 | clave">
  <Container>
    <main>
      <Header />
      <Layout backgroundColor={COLOR_CLAVE_PEACH} textColor={COLOR_CLAVE_GREEN}>
        <div slot="aside">
          <h1>404</h1>
          <p>Siden du leter etter finnes ikke... Så trist.</p>
          <a href="/">Gå til forsiden</a>
        </div>
      </Layout>
    </main>
    <Footer backgroundColor={COLOR_CLAVE_PEACH} textColor={COLOR_CLAVE_GREEN} />
  </Container>
</BaseLayout>

<style>
  :global(html),
  :global(body) {
    height: 100%;
  }

  :global(body) {
    display: flex;
    flex-direction: column;
  }

  :global(body) > :global(.container) {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
  }
</style>
