---
import pdf from "../assets/apenhetsloven/Åpenhetsloven Clave Consulting AS.pdf";
import Header from "../components/layout/Header.astro";
import Container from "../components/layout/Container.astro";
import BaseLayout from "../components/layout/BaseLayout.astro";
import { MAX_WIDTH } from "../layouts";
---

<BaseLayout title="Åpenhetsloven | clave">
  <Container>
    <Header uri="/apenhetsloven" />
    <div class="title">
      <h1>Redegjørelse etter åpenhetsloven</h1>
      <ul class="pdf-links">
        <li>Redegjørelse for året 2024 - Ikke pliktig</li>
        <li><a href={pdf} download>Åpenhetsloven redegjørelse for året 2023</a></li>
      </ul>
    </div>
  </Container>
</BaseLayout>

<style define:vars={{maxWidth: MAX_WIDTH}}>
  .title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 9rem 6rem;
    margin: 0 auto;
    max-width: fit-content;
  }

  .pdf-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: var(--maxWidth);
    padding: 3rem 6rem;
    margin: 0 auto 100%;
  }
</style>
