---
import HvaViGjorPage from '../components/clave-old/pages/hva-vi-gjor';
---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Se hva vi gjør | Clave</title>
</head>
<HvaViGjorPage client:only="react" />
</html>
