---
import { Image } from 'astro:assets';
import Container from '../components/layout/Container.astro';
import Layout from '../components/layout/Layout.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import PageHeader from '../components/PageHeader.astro';
import Projects from '../components/Projects.astro';
import Gallery from '../components/Gallery.astro';
import headerBilde from '../assets/190920_Clave_lowres_2.jpg';
import pointingBilde from '../assets/190920_Clave_lowres_9.jpg';
import larsPetterBilde from '../assets/190920_Clave_lowres_14.jpg';
import laptopBilde from '../assets/190920_Clave_lowres_16.jpg';
import BaseLayout from '../components/layout/BaseLayout.astro';
import ContainerContent from '../components/layout/ContainerContent.astro';
---
<BaseLayout title="Se hva vi gjør | clave" description="Brukeropplevelse, systemutvikling og rådgivning er spesialitetene våre. Vi er stolte av jobbene vi gjør og enda stoltere av relasjonene vi bygger med kundene våre.">
  <Container>
    <main>
      <Header uri="/hva-vi-gjor" />
      <PageHeader
        title="Se hva vi gjør"
        ingress="Brukeropplevelse, systemutvikling og rådgivning er spesialitetene våre. Vi er stolte av jobbene vi gjør og enda stoltere av relasjonene vi bygger med kundene våre."
        image={headerBilde}
      />
      <ContainerContent>
        <Layout>
          <p>
            Vi lager løsninger for menneskene som skal bruke dem. Brukeren står
            derfor alltid i fokus når våre tverrfaglige team samarbeider om å
            lage intuitive løsninger. Fornøyde brukere gir fornøyde kunder.
          </p>
          <p>
            Vi er stolte av fagområdene våre, og er alltid opptatt av å være
            oppdatert på det siste innenfor metode, system og teknologi. Vi er
            skikkelig gode på å samarbeide tett med kundene våre og vi tror det
            er noe av det som gjør at vi lykkes.
          </p>
          <p>
            For å forstå menneskene som skal bruke løsningene vi lager må vi
            skaffe oss innsikt og det gjør vi ved hjelp av både kvalitative og
            kvantitative metoder. Vi gjennomfører alt fra behovskartlegging,
            brukertester, dybdeintervjuer og større tjenestedesignprosjekter.
            Kunnskap gir oss både mulighet til å skape noe nytt og til å
            forbedre det som allerede eksisterer.
          </p>
          <p>
            Vi benytter alltid moderne teknologi når vi ut utvikler løsninger.
            Vår spisskompetanse ligger innen komplekse web-løsninger som er tett
            integrert med økosystemet til kunden. Samlet har våre utviklere
            kompetanse på alt fra frontend med f.eks. React, til Java og .NET på
            backend.
          </p>
          <p>
            Vi i Clave har vært med å starte konsulentselskapet Fabres som er
            lokalisert i Polen. Noen prosjekter gjør vi derfor sammen med
            utviklere og testere derfra.
          </p>
        </Layout>
        <Layout>
          <Projects />
          <Gallery images={[
            { src: larsPetterBilde, width: 681, height: 470, alt: "Lars-Petter og Yngve" },
            { src: pointingBilde, width: 306, height: 368, alt: "Pekefinger" },
          ]} />
          <div slot="aside" class="user-testing-block">
            <h4>Brukertesting er viktig!</h4>
            <p class="user-testing-text">
              Vi har laget brukertesting som en egen tjeneste, fordi
              brukertesting er jo noe alle trenger å gjøre jevnlig. Vi jobber
              på tvers av de kundene vi har, og for andre som trenger å få
              brukertestet løsningene sine. Kontakt oss hvis du ønsker å høre
              mer om brukertesting og tjenesten vi leverer.
            </p>
            <Image
              class="aside-image"
              src={laptopBilde}
              alt="Brukertesting"
            />
          </div>
        </Layout>
      </ContainerContent>
    </main>
    <Footer />
  </Container>
</BaseLayout>

<style>
  .user-testing-block {
    margin-top: 150px;
  }

  @media (max-width: 719px) {
    .user-testing-block {
      margin-top: 0;
    }
  }

  .user-testing-text {
    font-size: 18px;
    line-height: 23.4px;
  }

  .aside-image {
    width: 100%;
    height: auto;
    display: block;
  }
</style>
