---

import  '../colors.astro';
import PageHeader from '../components/PageHeader.astro';
---
      <main>
        <div class="title-wrapper">
          <PageHeader
            title="Se hvem vi er"
          />
        </div>
      </main>
    <style>
        .title-wrapper {
            background-color: #FFE6CD;
        }
        </style>
