---
import HvemViErPage from '../components/clave-old/pages/hvem-vi-er';
---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hvem vi er</title>
</head>
<HvemViErPage client:only="react" />
</html>
