---
import styled from "styled-components";
import { COLOR_CLAVE_PEACH } from "../components/clave-old/colors";
import Footer from "../components/clave-old/components/Footer";
import Header from "../components/clave-old/components/Header";
import Layout from "../components/clave-old/components/Layout";
import PageHeader from "../components/clave-old/components/PageHeader";
import headerBilde from "../components/clave-old/images/190920_Clave_lowres_11.jpg";
import EmployeeList from "../components/DetteErOss/EmployeeList.astro";

const TitleWrapper = styled.div`
    background-color: ${COLOR_CLAVE_PEACH};
`;

---
<html lang="nb">
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/svg+xml" href="/clave-icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Se hvem vi er | clave</title>
</head>

<main>
    <Header client:only="react" />
    <TitleWrapper>
        <PageHeader
            title="Se hvem vi er"
            ingress={`
                    Vi mener at det er godt og litt annerledes å være en Claver. Vi
                    føler en tilhørighet både til selskapet og til kollegaene våre.`}
            imageProps={{
                src: headerBilde.src,
                width: 1227,
                height: 728,
            }}
            client:only="react"
        />
    </TitleWrapper>
    <Layout client:only="react">
        <p>
            Det er flest hverdager i året, og i denne hverdagen setter vi
            trivsel og trygghet høyt. Vi har det morsomt på jobb. Tverrfaglig
            samarbeid gjør oss sterke i møtet med faglige utfordringer. Lagånd,
            positivitet og omsorg for kollegaene våre gjør oss trygge på
            hverandre. Da kan vi lage de aller beste løsningene.
        </p>
        <p>
            Det er smart å ta avgjørelser sammen. Åpenhet gjør at vi vet hva som
            rører seg i selskapet, og da er det enkelt å påvirke hvilken retning
            vi skal gå. Clave er eid av oss ansatte, og derfor er det også vi
            som bestemmer.
        </p>

        <p>
            Sammen reiser vi ut i verden på jakt etter inspirasjon. Faglig
            utvikling er viktig for oss - både som team og for hver enkelt. Vi
            har innedager vi fyller med prosjekter og hobbyer. Sammen skaper vi
            et kreativt felleskap hvor vi får mulighet til å ta i bruk mange -
            og kanskje nye sider - av oss selv.
        </p>
        <p>
            Teknologi og brukeropplevelse er det beste vi vet. Når vi lærer nye
            ting, inspireres av hverandre og føler engasjement skaper vi verdi
            både for kundene våre og oss selv.
        </p>
    </Layout>
    <EmployeeList /> <!-- TODO:!!! -->
</main>
<Footer client:only="react"/>

</html>
