---
import IndexPage from '../components/clave-old/pages/index';
import '../styles/global.css'
---
<html lang="nb">
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/svg+xml" href="/clave-icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forside | clave</title>
</head>
<body>
    <IndexPage client:only="react" />
    <!-- Simple Analytics - 100% privacy-first analytics -->
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
</body>
</html>
