.overlay, .overlayWithCircle {
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.overlay {
    background-color: #005550;
}

.overlayWithCircle:after {
    content: '';
    position: absolute;
    right: -15%;
    top: 13%;
    border-radius: 100%;
    width: 60%;
    height: 0;
    padding-bottom: 60%;
    box-shadow: 0 0 0 3000px #005550;
}