---
import IndexPage from '../components/clave-old/pages/index';
import '../styles/global.css'
---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forside | clave</title>
</head>
<IndexPage client:only="react" />
</html>
