
.front-page-ingress {
    padding-top: 3rem;
}

.info-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 480px) {

    .info-flexbox {
        flex-direction: column;
    }
}
