---
import JobbSomDesignerPage from "../components/clave-old/pages/jobb-som-designer";
---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jobbe som designer | Clave</title>
</head>
<JobbSomDesignerPage client:only="react" />
</html>
