---
import Layout from '../components/layout/Layout.astro';
import Ingress from '../components/Ingress.astro';
import MidSplitLayout from '../components/MidSplitLayout.astro';
import RecruitmentTemplate from '../components/RecruitmentTemplate.astro';
import BaseLayout from '../components/layout/BaseLayout.astro';
import type { Position } from '../types';
import piaBilde from '../assets/190920_Clave_lowres_7.jpg';

const positions: Position[] = [];
---
<BaseLayout title="Jobbe som designer | clave">
  <RecruitmentTemplate positions={positions} uri="/jobb-som-designer">
    <Layout>
      <h1>Jobbe som designer</h1>
      <Ingress>
        Vi omskaper gode ideer til fungerende løsninger ved hjelp av dialog,
        faglig tyngde og grundige designprosesser. Gjennom å lage intuitive og
        tiltalende designløsninger forener vi brukernes behov med kundenes
        ønsker. Det er viktig for Clave at vi leverer nøkkelpersoner med stort
        hjerte for faget og kundenes virksomhet.
      </Ingress>
    </Layout>
    <MidSplitLayout image={piaBilde} imageAlt="Pia">
      <h2>Er dette deg?</h2>
      <p>
        Vi i Clave liker folk som legger sjelen sin i å utforske, analysere og
        forstå, og som ikke er fremmed for å hoppe ut i ukjent farvann. Å
        visualisere nye konsepter er ingen sak for deg, og du finner stor
        glede i å videreutvikle disse konseptene sammen med utviklere og
        kunder.
      </p>
      <p>
        Vi ser etter deg som kan identifisere og analysere brukerbehov og
        krav. Du er god på å planlegge, gjennomføre og presentere
        brukerinnsikt. Samtidig er du i stand til å evaluere utviklet
        funksjonalitet og sørge for at leveransene våre har god kvalitet.
      </p>
      <p>Det skader ikke om du også:</p>
      <ul class="list">
        <li>syns faglig utvikling er viktig</li>
        <li>
          trives i et sosialt arbeidsmiljø og kommuniserer godt med andre
        </li>
        <li>
          er selvgående og har evne til å stå for det du mener er den beste
          løsningen på faglige utfordringer
        </li>
      </ul>
    </MidSplitLayout>
  </RecruitmentTemplate>
</BaseLayout>

<style>
  .list {
    margin: 20px 40px;
  }
</style>
