---
import JobbSomUtviklerPage from "../components/clave-old/pages/jobb-som-utvikler";
---
<html lang="nb">
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/svg+xml" href="/clave-icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jobbe som utvikler | clave</title>
</head>
<JobbSomUtviklerPage client:only="react" />
</html>
