---
import KontaktOssPage from '../components/clave-old/pages/kontakt-oss';
---
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kontakt oss</title>
</head>
<KontaktOssPage client:only="react" />
</html>
