---
const { asideContent, className } = Astro.props;

const AsideWrapperCssClass = asideContent ? "aside" : "empty-aside-padding";
---

<div class=`${className} layoutWrapper`>
    <aside class={AsideWrapperCssClass}>{asideContent}</aside>
    <section>
        <slot />
    </section>
</div>
<style>

    .aside {
        flex: 1 0 40%;
        order: 1;
        display: flex;
        padding: 3rem 0;

        @media screen and (min-width: 720px) {
            order: 0;
            padding: 0 6rem 0 0;

        }
    }
    .empty-aside-padding {
        flex: 1 0 40%;
        order: 1;
        display: flex;

        @media screen and (min-width: 720px) {
        order: 0;
      }
    }
    .layoutWrapper {
        display: flex;
        flex-direction: column;
        padding: 3rem;

        @media screen and (min-width: 720px) {
          padding: 6rem;
        flex-direction: row;
        }
    }
</style>
