---
import Layout from './layout/Layout.astro';
import Ingress from './Ingress.astro';
---

<Layout>
  <Ingress>
    Ønsker du å stille oss flere spørsmål? <br /> Ring Karine på{" "}
    <span class="nowrap">+47 913 23 235</span> eller send oss en{" "}
    <a href="mailto:jobb@clave.no">mail</a>.
  </Ingress>
</Layout>

<style>
  .nowrap {
    white-space: nowrap;
  }
</style>
