---
import Layout from './layout/Layout.astro';
import Ingress from './Ingress.astro';
---

<Layout>
  <Ingress>
    Ønsker du å stille oss flere spørsmål? <br /> Ring Karine på{" "}
    <a class="underline nowrap" href="tel:+4791323235">+47 913 23 235</a> eller send oss en{" "}
    <a class="underline" href="mailto:jobb@clave.no">mail</a>.
  </Ingress>
</Layout>

<style>
  .nowrap {
    white-space: nowrap;
  }

  .underline {
    display: inline-block;
    color: inherit;
    text-decoration: none;
  }

  .underline::after {
    content: '';
    margin-top: -0.2rem;
    display: block;
    height: 0.2rem;
    background: var(--clave-pink);
  }

  .underline:hover::after {
    animation: hover 0.5s forwards;
  }

  @keyframes hover {
    0%   { background: var(--clave-pink); transform: scaleX(1); }
    50%  { background: var(--clave-pink); transform: scaleX(0); }
    51%  { background: var(--clave-yellow); transform: scaleX(0); }
    100% { background: var(--clave-yellow); transform: scaleX(1); }
  }
</style>
