---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import { MAX_WIDTH, MOBILE_PADDING } from '../layouts';

interface Props {
  image: ImageMetadata;
  imageHeight?: number;
  imageWidth?: number;
  imageAlt?: string;
}

const { image, imageHeight, imageWidth, imageAlt = "" } = Astro.props;
---

<div class="wrapper">
  <div class="content">
    <div class="left">
      <Image 
        class="image" 
        src={image} 
        height={imageHeight ?? image.height} 
        width={imageWidth ?? image.height} 
        alt={imageAlt} 
        fetchpriority="high" 
        loading="eager" />
    </div>
    <div class="right">
      <slot />
    </div>
  </div>
</div>

<style define:vars={{maxWidth: MAX_WIDTH}}>
  .wrapper {
    background-color: #FFE6CD;
    color: #005550;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
    max-width: var(--maxWidth);
    margin: 0 auto;
  }

  @media (min-width: 720px) {
    .content {
      grid-template-columns: 1fr 1fr;
    }
  }

  .left {
    height: 400px;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
  }

  .right {
    padding: 3rem;
  }

  @media (min-width: 720px) {
    .right {
      padding: 0 6rem 0 6rem;
    }
  }
</style>
