<h1 class="title">
    <slot></slot>
</h1>
<style>
    .title {
        @media screen and (min-width: 720px) {
            margin-bottom: 4rem
        }
        @media only screen and (max-width: 719px) {
            margin-bottom: 1.5rem
        }
    }

</style>
