---

interface Props {
    title: string;
    ingress: string;
    imageProps: {
        src: string;
        fluidImage: string;
    };
}
const { title, ingress, imageProps } = Astro.props;

---

<div class="container">
    <div class="page-header-wrapper">
        <div class="page-header-content">
            <h1 class="page-header-title">{title}</h1>
          {ingress ? <p class="ingress">{ingress}</p> : null}
        </div>
        <!--<div class="page-header-image">-->
        <!--  {imageProps.fluidImage ? (-->
        <!--          <img src={imageProps.fluidImage} alt="Fluid Image" {...imageProps}/>-->
        <!--  ) : (-->
        <!--          <img src={imageProps.src} alt="Image" {...imageProps}/>-->
        <!--  )}-->
        <!--</div>-->
    </div>
</div>
<style>

    /* PageHeader.css */

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .page-header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    .page-header-content {
        flex: 1;
    }

    .page-header-title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .ingress {
        font-size: 2.5rem;
        line-height: 3rem;
        font-weight: 400;
    }

    .page-header-image {
        flex: 1;
        max-width: 50%;
    }

    .page-header-image img {
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
    }

    @media (min-width: 768px) {
        .container {
            padding: 0 40px;
        }

        .page-header-wrapper {
            padding: 40px 0;
        }

        .page-header-title {
            font-size: 3rem;
            margin-bottom: 2rem;
        }
    }

</style>
