---
import Layout from './layout/Layout.astro';
import type { Position } from '../types';
interface Props {
  positions: Position[];
}

const { positions } = Astro.props;
const activePositions = positions.filter((p) => p.active);
---

<Layout>
  <div class="wrapper">
    <h2>Akkurat nå søker vi etter</h2>
    {activePositions.length === 0 ? (
      <p>...dyktige folk som ønsker å sende oss en åpen søknad.</p>
    ) : (
      <ul>
        {activePositions.map((p) => (
          <li><a href={p.url}>{p.text}</a></li>
        ))}
      </ul>
    )}
  </div>
</Layout>

<style>
  .wrapper {
    background-color: var(--clave-lightblue);
    color: var(--clave-blue);
    margin: calc(-1 * var(--mobile-padding)) calc(-1 * var(--desktop-padding)) calc(-1 * var(--mobile-padding)) 15%;
    padding: var(--mobile-padding);
  }

  .wrapper a {
    color: var(--clave-blue);
  }

  .wrapper a:visited {
    color: var(--clave-blue);
  }
  .wrapper ul {
    margin: 0;
    list-style: none;
  }

  @media (max-width: 719px) {
    .wrapper {
      margin: 0 calc(-1 * var(--mobile-padding));
    }
  }
</style>
